<link rel="stylesheet" href="/static/css/detail.css">

{% extends 'base.html' %}
{% block content %}
  <div class="page-container">
    {% comment %} 제품 정보 {% endcomment %}
    <div class="productInfo-container">
      {% comment %} 제품 이미지 {% endcomment %}
      <div class="productImg-container">
        <img src="{{product.image_url}}" alt="">
      </div>

      {% comment %} 제품 상세정보 {% endcomment %}
      
      <div class="productDetailInfo-container">
        {% comment %} 제품 이름 {% endcomment %}
        <div class="productDetailInfo-name">
          <div class="productFullName_eng">
            <span>{{product.name_eng}}</span>
          </div>
          <div class="productFullName_kor">
            <span>{{product.name_kor}}</span>
          </div>
        </div>

        {% comment %} 제품 정보 {% endcomment %}
        <div class="productDetailInfo">
          <div class="productDetailInfo-subtitle">
            <p>제품 정보</p>
          </div>
          <div class="productDetailInfo-content">
            <span class="productinfo-cate">브랜드</span>
            <span class="productinfo-cateAns">{{product.brand}}</span>
          </div>
          <div class="productDetailInfo-content">
            <span class="productinfo-cate">제품코드</span>
            <span class="productinfo-cateAns">{{product.code}}</span>
          </div>
          <div class="productDetailInfo-content">
            <span class="productinfo-cate">발매일</span>
            <span class="productinfo-cateAns">{{product.relesed_date}}</span>
          </div>
          <div class="productDetailInfo-content" style="border-bottom:1px solid #e8e8e8;padding-bottom:20px !important;">
            <span class="productinfo-cate">발매가</span>
            <span class="productinfo-cateAns">{{product.price}}원</span>
          </div>
          <div class="productDetailInfo-content">
            <span class="productinfo-cate">조회수</span>
            <span class="productinfo-cateAns">{{product.view_count}}</span>
          </div>
          <div class="productDetailInfo-content">
            <span class="productinfo-cate">진행중인 발매처</span>
            <span class="productinfo-cateAns">{{ total_proceeding_draw_count }}</span>
          </div>
        </div>


      </div>
    
    </div>

    <div class="releaseList-countryDiv container">
      <div class="row">
        <div class="sub-title">
          <h4>국내 발매처<span> 총 0건</span></h4>
        </div>
        <div class="col-6">
          <div>
            <h6>국내배송</h6>
            <p>진행중인 응모: {{korea_can_delivery_proceeding_draws|length}}</p> 
            <p>다가오는 응모: {{korea_can_delivery_upcoming_draws|length}}</p>
            <p>종료된 응모: {{korea_can_delivery_finished_draws|length}}</p>
            {% for draw in korea_can_delivery_proceeding_draws %}
                {% include 'drawa/detailCard/proceedingCard.html' %}
            {% endfor %}
            {% for draw in korea_can_delivery_upcoming_draws %}
                {% include 'drawa/detailCard/upcomingCard.html' %}
            {% endfor %}
            {% for draw in korea_can_delivery_finished_draws %}
                {% include 'drawa/detailCard/finishedCard.html' %}
            {% endfor %}   
          </div>
        </div>
        <div class="col-6">
          <div>
            <h6>매장수령</h6>
            <p>진행중인 응모: {{korea_not_delivery_proceeding_draws|length}}</p>
            <p>다가오는 응모: {{korea_not_delivery_upcoming_draws|length}}</p>
            <p>종료된 응모: {{korea_not_delivery_finished_draws|length}}</p>
            {% for draw in korea_not_delivery_proceeding_draws %}
                {% include 'drawa/detailCard/proceedingCard.html' %}
            {% endfor %}
            {% for draw in korea_not_delivery_upcoming_draws %}
                {% include 'drawa/detailCard/upcomingCard.html' %}
            {% endfor %}
            {% for draw in korea_not_delivery_finished_draws %}
                {% include 'drawa/detailCard/finishedCard.html' %}
            {% endfor %}   
          </div>
        </div>
      </div>

      <div class="row">
        <div class="sub-title">
          <h4>해외 발매처<span>총 0건</span></h4>
        </div>
        <div class="col-6">
          <div>
            <h6>직배송</h6>
            <p>진행중인 응모: {{abroad_direct_proceeding_draws|length}}</p> 
            <p>다가오는 응모: {{abroad_direct_upcoming_draws|length}}</p>
            <p>종료된 응모: {{abroad_direct_finished_draws|length}}</p>
            {% for draw in abroad_direct_proceeding_draws %}
                {% include 'drawa/detailCard/proceedingCard.html' %}
            {% endfor %}
            {% for draw in abroad_direct_upcoming_draws %}
                {% include 'drawa/detailCard/upcomingCard.html' %}
            {% endfor %}
            {% for draw in abroad_direct_finished_draws %}
                {% include 'drawa/detailCard/finishedCard.html' %}
            {% endfor %}   
          </div>
        </div>
        <div class="col-6">
          <div>
            <h6>직배송 불가</h6>
            <p>진행중인 응모: {{abroad_not_direct_proceeding_draws|length}}</p>
            <p>다가오는 응모: {{abroad_not_direct_upcoming_draws|length}}</p>
            <p>종료된 응모: {{abroad_not_direct_finished_draws|length}}</p>
            {% for draw in abroad_not_direct_proceeding_draws %}
                {% include 'drawa/detailCard/proceedingCard.html' %}
            {% endfor %}
            {% for draw in abroad_not_direct_upcoming_draws %}
                {% include 'drawa/detailCard/upcomingCard.html' %}
            {% endfor %}
            {% for draw in abroad_not_direct_finished_draws %}
                {% include 'drawa/detailCard/finishedCard.html' %}
            {% endfor %}   
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock  %}

{% block script %}
<script>
  const drawLink = document.querySelectorAll('.card_link')
  drawLink.addEventListener('click', function(event) {
    alert('버튼이 클릭되었습니다.')
  })
</script>
{% endblock script %}