{% extends 'base.html' %}
{% block content %}

<div class="container">

  <h1 class="text-center">Draw Calandar</h1>

  <div class="row">

    <aside class="col-1">
    </aside>

    <main class="col-10">
    
      <div class="row">

        <h2>진행 중인 제품</h2>

        {% include 'drawa/now_product_list.html' %}
        
      </div>
      
      <br>

      <div class="row">

        <h2>다가오는 제품</h2>
        <section>
          <div id="other-product-list" class="row row-cols-4 g-1">
            {% for product in upcomming_products %}
              {% include 'drawa/upcoming_card.html' %}
            {% endfor %}
          </div>
          <button id="more-less-btn" class="col-12">지난 상품 보기</button>
        </section>

      </div>

    </main>

    <aside class="col-1">
    </aside>

  </div>

</div>

{% endblock content %}

{% block script %}
<script>
  function setAttribute(htmlObject, attrName, attrValue) {
    let attr = document.createAttribute(attrName)
    attr.value = attrValue
    htmlObject.setAttributeNode(attr)    
  }

  const carouselIndicator = document.querySelector("#carouselNowProductList .carousel-indicators")
  // const length = "{{ products.count }}"
  const length = 10

  const carouselNum = parseInt((length-1)/4+1)

  for (let i = 0; i < carouselNum; i++) {
    if (i === 0) {
      const btn = document.createElement('button')
      btn.type = 'button'
      // btn.data-bs-target = '#carouselNowProductList'
      setAttribute(btn, 'data-bs-target', '#carouselNowProductList')
      // btn.data-bs-slide-to = i
      setAttribute(btn, 'data-bs-slide-to', `${i}`)
      btn.classList.add('active')
      // btn.aria-current = 'true'
      setAttribute(btn, 'aria-current', true)
      // btn.aria-label = `Slide ${i+1}`
      setAttribute(btn, 'aria-label', `Slide ${i+1}`)
      carouselIndicator.appendChild(btn)
    } else {
      const btn = document.createElement('button')
      btn.type = 'button'
      // btn.data-bs-target = '#carouselNowProductList'
      setAttribute(btn, 'data-bs-target', '#carouselNowProductList')
      // btn.data-bs-slide-to = i
      setAttribute(btn, 'data-bs-slide-to', `${i}`)
      // btn.aria-label = `Slide ${i+1}`
      setAttribute(btn, 'aria-label', `Slide ${i+1}`)
      carouselIndicator.appendChild(btn)
    }
  }

  const carouselInner = document.querySelector('#carouselNowProductList .carousel-inner')
  let carouselItemLast = null
  for (let i = 0; i < length; i++) {
    if (i % 4 === 0) {
      const carouselItem = document.createElement('div')
      setAttribute(carouselItem, 'data-bs-interval', 10000)
      carouselItem.classList.add('carousel-item')
      if (i === 0){
        carouselItem.classList.add('active')
      }
      const row = document.createElement('div')
      row.classList.add('row', 'row-cols-4')
      carouselItem.appendChild(row)
      carouselInner.appendChild(carouselItem)
      carouselItemLast = carouselItem
    }

    const row = carouselItemLast.querySelector('.row')
    const col = document.createElement('div')
    col.classList.add('col')
    // const img = document.createElement('img')
    // img.src = "/static/img/testimg.jpg"
    // img.classList.add('d-block', 'w-100')
    // col.appendChild(img)
    col.innerHTML = `{% include 'drawa/now_card.html' %}`
    row.appendChild(col)

  }
  
</script>
{% endblock script %}