{% comment %} <div class="col-3">
  <div class="card">
    <img src={{ product.image_url }} class="card-img-top" alt="..."> 
    <div class="card-img-overlay">
      <p class="text-danger">0{{ forloop.counter }}:00:00</p>
    </div>
    <div class="card-body my-0 text-center">
      <h5 class="card-title">{{ product.name }}</h5>
      <p class="text-success">응모 가능</p>
    </div>
  </div>
</div> {% endcomment %}


{% comment %} 
<div class="product_item">
  <!-- 제품 상세 페이지로 이동 -->
  <a href="" class="item_inner">
    <!-- position: relative; -->
    <div class="thumb_box">
      <div style="background-color: rgb(244, 244, 244);">
        <img src="product.image_url" class="card-img-top" alt="...">
        
      </div>
      <!-- position: absolute;  top: 7px;  right: 5px;  padding: 5px; -->
      <a href="" class="btn_wish">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="bi bi-bookmark" viewBox="0 0 16 16">
          <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
        </svg>
      </a>
      <div class="btn_area">
        <button type="button" class="btn btn-success btn_draw">응모하기</button>
      </div> 
      <!--   font-size: 25px;  color: red;  position: absolute;  top: 10px;  left: 0;  margin: 0; -->
      <span class="time_count_now" data-type="1" data-start-time="1635123600000" data-end-time="1635125400000">
        <span>{{ now_draws[product.id] }}</span>
      </span>
    </div>
    <div class="info_box">
      <div class="brand">
        <h5 class="card-title brand_text"> {{ product.brand }} </h5>
      </div>
      <div class="name">
        <p class="card-text"> {{ product.name }}</p>
      </div>
    </div>
  </a>
</div>
 {% endcomment %}

<div id="test" class="col product_item">
  <!-- 제품 상세 페이지로 이동 -->
  <a href="" class="item_inner">
    <!-- position: relative; -->
    <div class="thumb_box">
      <div style="background-color: rgb(244, 244, 244);">
        <img src="https://kream-phinf.pstatic.net/MjAyMTEwMjBfMTU4/MDAxNjM0NzA2ODA1MzM1.I1CMIPMa240-auhgK1tHHu-SMIZXuej_a3LX-4omVsYg.gnHB3CIprqV6FeNmvAFAqqHSzXAkxcN1be_VxYCyuYkg.PNG/a_455bbc729b934cd49eeb251c8dc6df1d.png?type=m" class="card-img-top" alt="...">
        
      </div>
      <!-- position: absolute;  top: 7px;  right: 5px;  padding: 5px; -->
      <a href="" class="btn_wish">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="bi bi-bookmark" viewBox="0 0 16 16">
          <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
        </svg>
      </a>
      <div class="btn_area">
        <button type="button" class="btn btn-success btn_draw">응모하기</button>
      </div>
      <!--   font-size: 25px;  color: red;  position: absolute;  top: 10px;  left: 0;  margin: 0; -->
      <span class="time_count_now" data-type="1" data-start-time="1635123600000" data-end-time="1635125400000">
        <span>00:26:23</span>
      </span>
    </div>
    <div class="info_box">
      <div class="brand">
        <h5 class="card-title brand_text"> adidas Yeezy </h5>
      </div>
      <div class="name">
        <p class="card-text">Adidas Yeezy Boost 350 V2 MX Oat</p>
      </div>
    </div>
  </a>
</div>