<div id="carouselNowProductList" class="carousel slide" data-bs-ride="carousel">

  <div class="carousel-indicators">    
  </div>

  <div class="carousel-inner">
  </div>

  <button class="carousel-control-prev text-dark" type="button" data-bs-target="#carouselNowProductList" data-bs-slide="prev">
    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-chevron-compact-left" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M9.224 1.553a.5.5 0 0 1 .223.67L6.56 8l2.888 5.776a.5.5 0 1 1-.894.448l-3-6a.5.5 0 0 1 0-.448l3-6a.5.5 0 0 1 .67-.223z"/>
    </svg>
    {% comment %} <span class="carousel-control-prev-icon" aria-hidden="true"></span> {% endcomment %}
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next text-dark" type="button" data-bs-target="#carouselNowProductList" data-bs-slide="next">
    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-chevron-compact-right" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z"/>
    </svg>
    {% comment %} <span class="carousel-control-next-icon" aria-hidden="true"></span> {% endcomment %}
    <span class="visually-hidden">Next</span>
  </button>
  
</div>
