<div class="country-table">
  <div class="releaseCard">
    <div class="CardContent1">
      <div class="CardLogo">
        <img class="Card_brandImg" src="{{ draw.store.store_img_url }}" alt="">
          <img class="countryflag" src="{{draw.store.nation_flag_url}}" alt="">
      </div>
      <div class="CardContentList">
        <span>{{draw.store.name}}</span>
      </div>
      <div class="CardBell">
        {% if user in draw.reserve.all %}
          <div id="reserveBell-{{ draw.pk }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-bell-fill" viewBox="0 0 16 16">
              <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
            </svg>
          </div>
        {% else %}
          <div id="reserveBell-{{draw.pk}}">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
              <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
            </svg>
          </div>
        {% endif %}
      </div>
    </div>
    <div class="CardContent2">
      <div class="CardContent2-drawTime">
        <div class="Cate">응모 시간</div>
        <div class="Content">{{draw.start}} ~ </div>
      </div>
      <div class="CardContent2-status"></div>
        <div class="Cate">진행 상태</div>
        <div class="Content text-success" id="state">응모 전</div>
    </div>
    <div class="CardContent3 container">
      <!-- 링크박스 -->
      <div class="row">
        <div class="col text-center">
          {% comment %} <a href="{{draw.url}}">
            <span id="card-linkkr2" style="">
              <div class="card_link" style="cursor:pointer;" >
                <span class="direct-link-text">응모예약</span>
              </div>
            </span>
          </a> {% endcomment %}
          <form data-draw-id="{{ draw.pk }}" data-draw-start="{{ draw.start }}" class="btn-draw-reserve" method="POST" >
            {% csrf_token %}
            {% if user in draw.reserve.all %}
              <button id="reserveBtn-{{ draw.pk }}" class="btn reserved_draw">
                <div class="reserve_card_link" style="cursor:pointer;" >
                  <span class="direct-link-text">응모예약</span>
                </div>
              </button>
            {% else %}
              <button id="reserveBtn-{{ draw.pk }}" data-draw-start="{{ draw.start }}" class="btn">
                <div class="reserve_card_link" style="cursor:pointer;" >
                  <span class="direct-link-text">응모예약</span>
                </div>
              </button>
            {% endif %}
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
