
body {
  margin: 0;
  font-family: 'Jua', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 8px 12px;
  padding-top: 0px;
}

.navbar_homelogo {
  font-size: 24px;
  color: white;
}

.navbar_menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navbar_menu li {
  padding: 8px 12px; 
}

.nav-inside {
  color: black; 
}

.navbar_menu li:hover,
.navbar_log li:hover {
  background-color: #b4b4b4;
  border-radius: 4px;
}

.navbar_log {
  display: flex; 
  /* align-items: center;  */
  justify-content: end;
  list-style: none;
  margin-right: 8px;
  margin-bottom: 0px;
}

.hr_margin {
  margin: 0px;
}

.navbar_log li:first-child {
  margin-right: 9px;
}

/* 햄버거 */
.navbar_toggle {
  position: absolute;
  display: none;
  right: 32px;
  font-size: 24px;
}

/* 탈퇴버튼 */
.quit-btn {
  border: none;
  background-color: white;
}

.quit-btn:hover {
  background-color: #b4b4b4;
  border-radius: 4px;
}


/* 반응형 */
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    /* 왼쪽정렬 */
    align-items: flex-start;
    padding: 8px 24px;
  }
  
  .navbar_menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar_menu li {
    width: 100%;
    text-align: center;
  }

  .navbar_log {
    /* display: none; -> 화면 작아지면 안보이게함 */
    display: none;
    justify-content: center;
    width:100%;
  }

  .navbar_toggle {
    display: block;
  }

  
  .navbar_menu.active,
  .navbar_log.active {
    display: flex;
  }
}