<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand ms-5" href="{% url 'drawa:index' %}">드로와!</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end me-5" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'accounts:interest' %}">관심 상품</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'accounts:calander' %}">내 응모일정</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">매장 선택</a>
        </li>
      </ul>
    </div>
    <ul>
    {% if request.user.is_authenticated %}
    <li class="inline">
      <a href="{% url 'accounts:profile' request.user.username %}">{{request.user.username}}의 프로필</a>
      <a href="{% url 'accounts:update' request.user.username %}">회원정보수정</a>
      <form action="{% url 'accounts:quit' %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="탈퇴">
      </form>
    </li>
    <li class="inline">
      <a href="{% url 'accounts:logout' %}">로그아웃</a>
    </li>
    {% else %}
    <li class="inline">
      <a href="{% url 'accounts:login' %}">로그인</a>
    </li>
    <li class="inline">
      <a href="{% url 'accounts:signup' %}">회원가입</a>
    </li>
    {% endif %}
  </ul>
  </div>
</nav>